<!--<div class="card" (click)="cardClicked()">-->
<!--  @if (isCardFlipped) {-->
<!--    <div class="text">-->
<!--      if you click this card once, it shows the notes,-->
<!--      if you click again it hides and randomizes again for a new pull-->

<!--      <ng-content></ng-content>-->

<!--    </div>-->
<!--  } @else {-->
<!--    <div class="down-face-text">-->
<!--      Click to flip card!-->
<!--    </div>-->
<!--  }-->
<!--</div>-->


<div class="card" (click)="cardClicked()">
  <div class="text">
    <ng-content></ng-content>
  </div>
</div>
