<div class="container">
  <div class="language-selector">
    <select name="language" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()" class="language-selector__select">
      <option value="EN">EN</option>
      <option value="BR">BR</option>
    </select>
  </div>

  <div class="reference-table">
    <button class="reference-table__button" type="button" (click)="toggleReferenceTable()">help</button>
    <app-reference-table-dialog [showDialog]="showDialog"></app-reference-table-dialog>
  </div>

  <div class="header-text">{{ appStore.appLanguage() == 'EN' ? 'Click to randomize notes:' : 'Clique para atualizar notas:' }}</div>
  <app-card (cardFlippedEvent)="onCardFlipped()">{{fromNote}} - {{toNote}}</app-card>

  @if (showResult) {
    <div class="result" [ngClass]="isAnswerCorrect ? 'correct' : 'wrong'">
      {{result}}
    </div>
  } @else {
    <div class="answer-input">
      <select class="answer-select" name="answer" [(ngModel)]="answer">
        <option selected disabled hidden [ngValue]="null">{{ appStore.appLanguage() === 'EN' ? 'Select an interval' : 'Selecione um intervalo' }}</option>
        @for (interval of appStore.intervalList(); track appStore.intervalList()) {
          <option [ngValue]="interval">{{interval.key}}</option>
        }
      </select>
      <button class="submit-button" type="button" (click)="onSubmitClicked()">
        {{ appStore.appLanguage() === 'EN' ? 'Submit' : 'Confirmar'}}
      </button>
    </div>
  }
</div>
