<div class="container">
  <div class="language-selector">
    <select name="language" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()" class="language-selector__select">
      <option value="EN">EN</option>
      <option value="BR">BR</option>
    </select>
  </div>

  <div class="header-text">{{ selectedLanguage == 'EN' ? 'Click to randomize notes:' : 'Clique para atualizar notas:' }}</div>
  <app-card (cardFlippedEvent)="onCardFlipped()">{{fromNote}} - {{toNote}}</app-card>

  @if (showResult) {
    <div class="result" [ngClass]="isAnswerCorrect ? 'correct' : 'wrong'">
      {{result}}
    </div>
  } @else {
    <div class="answer-input">
      <select class="answer-select" name="answer" [(ngModel)]="answer">
        <option selected disabled hidden [ngValue]="null">{{ selectedLanguage == 'EN' ? 'Select an interval' : 'Selecione um intervalo' }}</option>
        @for (interval of intervalList; let idx = $index; track intervalList) {
          <option [ngValue]="interval">{{interval.key}}</option>
        }
      </select>
      <button class="submit-button" type="button" (click)="onSubmitClicked()">{{ selectedLanguage == 'EN' ? 'Submit' : 'Confirmar'}}</button>
    </div>
  }
</div>
